<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>HACKER'S ACADEMY</title>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
	</head>
	<body>
		 <div class="container">
		<header>
			<img class="header_img" src="images/hacker2.jpg">
		</header>
		
		<div class= "nav nav_top">
			<ul>
                <li><a href="/">Home</a></li>
				<li><a href="about_us">About us</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</div>

	<div class="middle_body_container">


		<div class = "history">
			<h4>About Us</h4>
			<p>Hacker’s Academy was established in 2012 in NYC, one of the greatest cities in the world and an emerging tech zone.</p>
		</div>

		<div class = "faculty">
			<div class = "bio fac1">
				<img src="images/faculty1.jpg" alt="faculty1"/> 
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus autem, eos consequuntur. Sequi voluptatum praesentium iusto deserunt quas ea impedit incidunt, at dolorem maiores.</p>
			</div>
			<div class = "bio fac2">
				<img src="images/faculty2.jpg" alt="faculty2"/> 
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus autem, eos consequuntur. Sequi voluptatum praesentium iusto deserunt quas ea impedit incidunt, at dolorem maiores.</p>
			</div>
			<div class = "bio fac3">
				<img src="images/faculty3.jpg" alt="faculty3"/> 
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus autem, eos consequuntur. Sequi voluptatum praesentium iusto deserunt quas ea impedit incidunt, at dolorem maiores.</p>
			</div>
			<div class = "bio fac4">
				<img src="images/faculty5.jpg" alt="faculty4"/> 
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusamus autem, eos consequuntur. Sequi voluptatum praesentium iusto deserunt quas ea impedit incidunt, at dolorem maiores.</p>
			</div>
		</div>

</div>
         
         <div class= "nav nav_bottom">
			<ul>
                <li><a href="/">Home</a></li>
				<li><a href="about_us">About us</a></li>
				<li><a href="contact">Contact</a></li>
			</ul>
		</div>
      
		
</div>
		
	</body>
	</html>